.container {
    padding-top: 70px;
}

h1{
    margin-right: 110px;
    margin-left: auto;
    color: red;
    text-align: right;
    width: 30%;
}

.poissonsMin{
    width: 100px;
    height: 100px;
    border: 1px none;
    border-radius: 50%;
    float: right;
}

.poissons{
    width: 80vw;
    margin: auto;
}